body{background-color:#008080;}
h1{color:#DC143C;font-size: 34pt;font-style: oblique; text-align:center;}
p{color:#42CD7F;font-size: 14pt;}
h3{color:#F4D03F;font-size; 12pt; text-align:center;}
a {color:#ABEBC6;font-size: 16pt;padding-botom:20%; padding-left: 80%;}
h2{color:#F1948A;font-size:34pt;font-style:oblique;text-align: center;}
